{{!< default}}
<div class="container">
    <div class='row' id="product-grid">
        {{# each data.products.results}}
            <div class='col-lg-3 col-md-4 col-sm-4 col-xs-6 product-grid-inline'>
                <div class='product-tile'>	 
                    <div class='product-tile-cover' style="background-image: url('{{{cover}}}')"></div>
                    <h2> {{{name}}} </h2>
                    <div class='product-tile-details'>
                      <div class="product-desc-photos">
                          {{#each images}}
                              <div style='background-image: url('{{this}}')'></div>
                          {{/each}}
                      </div>
                      <div class="product-desc-info">
                          <p>{{{description}}}</p>
                      </div>
                    </div>
                 </div>
            </div>
        {{/each}}
    </div>
    <!--{{>pagination}}-->
</div>
